<div class="container-fluid">
  <h1>Formulaire pour ajouter un bien</h1>

  <!-- Formulaire d'ajout-->

  <form [formGroup]="ajoutBienForm" (ngSubmit)="onSubmit()">
    <div class="form-group" id="AjoutradioTypeBien">
      <div>
        <p>Veuillez sélectionner le type de bien :</p>
        <input
          type="radio"
          name="typeBienAjout"
          id="maison"
          formControlName="typeBienAjout"
          value="maison"
        />
        <label for="maison"> Maison</label>
      </div>

      <div>
        <input
          type="radio"
          name="typeBienAjout"
          id="appartement"
          formControlName="typeBienAjout"
          value="appartement"
        />
        <label for="appartement">Appartement</label>
      </div>
    </div>

    <div class="form-group" id="ajoutImageBien">
      <p>Insérer une image du bien :</p>

      <label for="imageBien"></label>
      <input
        type="file"
        name="imageBien"
        id="imageBien"
        formControlName="imageBienAjout"
      />
      <button class="btn btn-primary ajoutImage">Ajouter une image</button>
    </div>

    <div class="form-group" id="AjoutNombreEtageBien">
      <p>Nombre d'étage que possède le bien :</p>
      <label for="nombreEtage"> Nombre d'étage :</label>
      <input
        type="number"
        name="nombreEtage"
        formControlName="nombreEtageAjout"
      />
    </div>
    <div class="form-group" id="AjoutSuperficie">
      <label for="superficie"> Superficie du bien :</label>
      <input
        type="number"
        name="superficie"
        formControlName="superficieAjout"
      />
      <span> m²</span>
    </div>

    <div class="form-group" id="AjoutDescriptionBien">
      <label for="descriptionBien">Description du bien : </label>
      <textarea
        name="descriptionBien"
        cols="50"
        rows="5"
        formControlName="descriptionAjout"
      ></textarea>
    </div>

    <div class="form-group" id="AjoutPrixVente">
      <label> Prix de vente :</label>
      <input
        type="number"
        name="prixVenteAjout"
        formControlName="prixVenteAjout"
      />
    </div>

    <div class="form-group" id="AjoutPrixMinimum">
      <label for="prixMinimum">Prix minimum :</label>
      <input
        type="number"
        name="prixMinimum"
        formControlName="prixMinimumAjout"
      />
    </div>

    <div class="form-group" id="ajoutListeDependance">
      <label for="nomDependance">Dépendances : </label>
      <select name="nomDependance" formControlName="nomDependanceAjout">
        <option *ngFor="let dependance of dependances" selected>{{
          dependance
        }}</option>
      </select>
    </div>

    <div class="form-group" id="AjoutImageDependance">
      <label for="imageDependance"> Insérer l'image d'une dépendance :</label>
      <input type="file" formControlName="imageDependanceAjout" />
      <button class="btn btn-primary ajoutDep">
        Ajouter une autre dépendance
      </button>
    </div>
    <br />

    <div class="ButtonEnvoieReset">
      <button type="submit" class="btn btn-primary submit">
        Ajouter le bien
      </button>
      <br /><br />
      <button type="reset" class="btn btn-primary reset">Reset</button>
    </div>
  </form>
</div>
