/* -----------------Header---------------------- */

.container-fluid {
  color: black;
  background-color: #8c1414;
  position: fixed;
  width: 100%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  width: 15%;
  margin-top: 2%;
  padding: 6px;
  background-color: #ffffff;
  margin-bottom: 2%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .logoFond {
  background-color: blue;
  width: auto;
} */
li {
  margin-top: 4%;
  font-size: large;
}

li :hover {
  background-color: rgb(140, 20, 20, 0.7);
  border-radius: 5%;
  text-shadow: 2px 2px 4px #ffffff;
}

.navbar li {
  color: #8c1414;
}
/* li {
  list-style: none;
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
  text-decoration: none;
  color: black;
  display: inline;
}

ul a img {
  width: 100px;
} */

.nav-default .navbar-nav > li > a {
  color: #ffffff;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background: none;
}

/* -------------------FOOTER------------------ */

footer {
  background-color: #8c1414;
  padding-bottom: 1%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

footer * {
  margin: 0;
  padding: 0%;
  display: block;
}

footer a {
  display: block;
}

footer li,
footer ul,
footer p {
  width: auto;
  margin: 5%;
}

.footer-copyright {
  display: flex !important;
  align-content: flex-end;
}

.footer-copyright p {
  text-align: center;
  line-height: 30px;
}

h5,
p {
  color: #ffffff;
  margin-left: 1%;
}

a {
  text-decoration: none;
  color: #cecccc;
}

.footerLi {
  list-style: none;
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
}

.footerLi :hover {
  color: #ffffff;
  opacity: 0.8;
  text-shadow: 2px 2px 4px #ffffff;
}

#lien {
  /*left: 65%;*/
  padding-top: 1%;
}

.route {
  margin-top: 2%;
  margin-bottom: 2%;
  min-height: 90vh;
}
