<!-- <nav>
  <ul>
    <a routerLink="/home"
      ><img src="../assets/logo_site.png" alt="logo du site"
    /></a>

    <li><a routerLink="/home" routerLinkActive="active"> Home </a></li>

    <li>
      <a routerLink="/inscription" routerLinkActive="active"> Inscription </a>
    </li>

    <li><a routerLink="/login" routerLinkActive="active"> Connexion </a></li>

    <li *ngIf="this.userLogged">
      <a routerLink="/profil" routerLinkActive="active">
        Profil
      </a>
    </li>

    <li><a routerLink="/search" routerLinkActive="active"> Search </a></li>

    <li>
      <a routerLink="/ajout-bien" routerLinkActive="active">Ajouter un bien</a>
    </li>
  </ul>
</nav> -->

<nav class="navbar nav-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="logoFond">
        <a routerLink="/home"
          ><img src="../assets/logo_site.png" alt="logo du site" class="logo"
        /></a>
      </div>
    </div>
    <ul class="nav navbar-nav">
      <li *ngIf="this.userLogged">
        <a routerLink="/profil" routerLinkActive="active">
          Profil
        </a>
      </li>

      <li><a routerLink="/search" routerLinkActive="active"> Search </a></li>

      <li>
        <a routerLink="/ajout-bien" routerLinkActive="active"
          >Ajouter un bien</a
        >
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!this.userLogged">
        <a routerLink="/inscription" routerLinkActive="active"
          ><span class="glyphicon glyphicon-user"></span> S'inscrire</a
        >
      </li>
      <li>
        <a routerLink="/login" routerLinkActive="active"
          ><span class="glyphicon glyphicon-log-in"></span> Se connecter/ Se
          déconnecter</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="route"><router-outlet></router-outlet><br /><br /><br /></div>

<!-- Footer -->
<footer>
  <!-- Footer Links -->
  <div class="footer">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3" id="lien">
        <!-- Links -->
        <ul>
          <li class="footerLi">
            <a href="/politique">Politique de confidentialité</a>
          </li>

          <li class="footerLi">
            <a routerLink="/a-propos" routerLinkActive="active"
              >A propos de nous</a
            >
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright">
    <p>© 2019 Copyright: ImmoConceptPlus</p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
