<div class="container-fluid">
  <h1>Bienvenue sur le site d'ImmoConceptPlus</h1>

  <p>
    Ce site a été réalisé dans le cadre d'un projet scolaire. Il s'agit d'un
    site de vente immobilière entièrement pensé par l'équipe Lynas.
  </p>
  <img src="../../assets/logo_lynas.png" alt="logoequipe" class="lynas" />

  <p>
    Sur ce site, nous avons mis en place des fonctionnalité utile pour un site
    de ce genre. Vous pourrez naviguer librement et découvrir le site que nous
    avons mis au point. En espérant que vous passerez un bon moment sur notre
    site, et qui sait peut-être trouverez-vous votre maison de rêve ?
  </p>

  <span>L'équipe Lynas</span>
  <br />

  <img src="../../assets/logo_site.png" alt="Logosite" class="immo" />
</div>
