<div class="container-fluid">
  <h1>Qui sommes-nous ?</h1>
  <p>
    Nous sommes une équipe composé de quatre personnes issus d'une même classe,
    la B2 Ingésup. Notre équipe est composée de quatre développeurs : Lorenzo
    Logos, Gerard Nicolas, Antoine Acquart et Stacy Perales. Notre équipe a été
    réuni dans le but de réalier un site pour une agence immobilière. Nous
    sommes une équipe jeune et dynamique. Ce projet est un vrai challenge pour
    nous. Il nous permet de nous lancer dans de nouvelles technologies et de
    nous surpasser.
  </p>

  <img src="../../assets/logo_lynas.png" alt="lynas" class="lynasAPropos" />
</div>
