.container-fluid {
  background-color: rgb(206, 204, 205, 0.8);
  font-family: "Lato", sans-serif;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-top: 6%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  border-radius: 1%;
  width: 50%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
  text-align: justify;
}

.lynasAPropos {
  width: 15%;
}

h1 {
  background-color: rgb(140, 20, 20, 0.7);
  color: #ffffff;
  text-align: center;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
