<div class="container-fluid">
  <div class="col-md-2 " id="searhMenu">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" id="id_form">
      <div class="selects">
        <div class="form-group">
          <h2>Recherche bien</h2>

          <label>Nom du bien</label>
          <input type="text" formControlName="bienTitre" class="form-control" />
        </div>
        <div class="form-group">
          <label>Type de bien</label>
          <select formControlName="bienType" defau class="form-control">
            <option *ngFor="let type of this.listeBienType" [value]="type">{{
              type
            }}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Departement</label>

          <select formControlName="bienDepartement" defau class="form-control">
            <option
              *ngFor="let departement of this.listeDepartement"
              [value]="departement"
              >{{ departement }}</option
            >
          </select>
        </div>
      </div>

      <div class="sliders">
        <div class="form-group">
          <label>Prix :</label>
          <div *ngIf="searchForm.value.bienPrixDeVenteMax < 5000000">
            de {{ searchForm.value.bienPrixDeVenteMin }} à
            {{ searchForm.value.bienPrixDeVenteMax }} €
          </div>
          <div *ngIf="searchForm.value.bienPrixDeVenteMax == 5000000">
            de {{ searchForm.value.bienPrixDeVenteMin }} à 5.000.000 € ou plus
          </div>
          <div class="slider">
            <input
              type="range"
              min="0"
              [max]="searchForm.value.bienPrixDeVenteMax"
              value="0"
              formControlName="bienPrixDeVenteMin"
              class="form-control-range"
            />
            <input
              type="range"
              [min]="searchForm.value.bienPrixDeVenteMin"
              max="5000000"
              value="5000000"
              formControlName="bienPrixDeVenteMax"
              class="form-control-range"
            />
          </div>
        </div>

        <div class="form-group">
          <label>Pièces :</label>
          <div *ngIf="searchForm.value.bienNbPieceMax < 10">
            de {{ searchForm.value.bienNbPieceMin }} à
            {{ searchForm.value.bienNbPieceMax }} pièces
          </div>
          <div *ngIf="searchForm.value.bienNbPieceMax == 10">
            de {{ searchForm.value.bienNbPieceMin }} à 10 pièces ou plus
          </div>
          <div class="slider">
            <input
              type="range"
              min="0"
              [max]="searchForm.value.bienNbPieceMax"
              value="0"
              formControlName="bienNbPieceMin"
              class="form-control-range"
            />
            <input
              type="range"
              [min]="searchForm.value.bienNbPieceMin"
              max="10"
              value="10"
              formControlName="bienNbPieceMax"
              class="form-control-range"
            />
          </div>
        </div>

        <div class="form-group">
          <label>Superficie :</label>
          <div *ngIf="searchForm.value.bienSuperficieMax < 1000">
            de {{ searchForm.value.bienSuperficieMin }} à
            {{ searchForm.value.bienSuperficieMax }} m<sup>2</sup>
          </div>
          <div *ngIf="searchForm.value.bienSuperficieMax == 1000">
            de {{ searchForm.value.bienSuperficieMin }} à 1000 m<sup>2</sup> ou
            plus
          </div>
          <div class="slider">
            <input
              type="range"
              min="0"
              [max]="searchForm.value.bienSuperficieMax"
              value="0"
              formControlName="bienSuperficieMin"
              class="form-control-range"
            />
            <input
              type="range"
              [min]="searchForm.value.bienSuperficieMin"
              max="1000"
              value="1000"
              formControlName="bienSuperficieMax"
              class="form-control-range"
            />
          </div>
        </div>
      </div>

      <button class="btn btn-primary" type="submit">
        Chercher
      </button>
    </form>
  </div>

  <div class="SearchResult">
    <div *ngFor="let bien of this.searchResult">
      <div>
        {{ bien.bienTitre }}
      </div>
      <div>
        {{ bien.bienType }} de {{ bien.bienSuperficie }}m<sup>2</sup> à
        {{ bien.bienAdresse.adresseVille.villeNom }}
      </div>
      <div>
        <img
          *ngIf="bien.bienImages.length > 0"
          alt=""
          src="{{ bien.bienImages[0].imageLien }}"
        />
      </div>
    </div>
  </div>
</div>
