<div class="container-fluid">
  <h2>Recherche bien</h2>

  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nom du bien</label>
      <input type="text" formControlName="bienTitre" />
    </div>
    <div class="form-group">
      <label>Type de bien</label>
      <select formControlName="bienType">
        <option *ngFor="let type of this.listeBienType">{{ type }}</option>
      </select>
    </div>

    <button class="btn btn-primary" type="submit">
      Chercher
    </button>
  </form>

  {{ searchForm.status | json }}
  {{ searchForm.value | json }}
  {{ this.searchResult | json }}
  {{ this.searchResult.length | json }}

  <div *ngFor="let bien of this.searchResult">
    {{ bien.bienTitre
    }}<img
      *ngIf="bien.bienImages.length > 0"
      alt=""
      src="{{ bien.bienImages[0].imageLien }}"
    />
  </div>
</div>
