<div class="container-fluid">
  <h2>Recherche bien</h2>

  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nom du bien</label>
      <input type="text" formControlName="bienTitre" />
    </div>

    <div class="form-group">
      <label>Type de bien</label>
      <select formControlName="bienType" defau>
        <option *ngFor="let type of this.listeBienType" selected>{{
          type
        }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Prix minimum</label>
      <input
        type="range"
        min="0"
        max="5000000"
        value="0"
        formControlName="bienPrixDeVenteMin"
      />
      {{ searchForm.value.bienPrixDeVenteMin }}
    </div>

    <div class="form-group">
      <label>Prix maximum</label>
      <input
        type="range"
        min="0"
        max="5000000"
        value="5000000"
        formControlName="bienPrixDeVenteMax"
      />
      {{ searchForm.value.bienPrixDeVenteMax }}
    </div>
    <!--
    <div class="form-group">
      <label>Ville</label>
      <select formControlName="bienVille" defau>
        <option *ngFor="let ville of this.listeVille">{{ ville }}</option>
      </select>
    </div>
  -->
    <!--
    <div class="form-group">
      <label>Ville</label>
      <input matInput [matAutocomplete]="auto" formControlName="bienVille" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let i of this.listeVille">
          <mat-option *ngFor="let j of i">
            <mat-option *ngFor="let ville of j" [value]="ville.villeNom">
              {{ ville.villeNom }}
            </mat-option>
          </mat-option>
        </mat-option>
      </mat-autocomplete>
    </div>
  -->
    <!--
    <div class="form-group">
      <label>Departement</label>
      <input
        matInput
        [matAutocomplete]="auto"
        formControlName="bienDepartement"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let departement of this.listeDepartement"
          [value]="departement.departementNom"
        >
          {{ departement.departementNom }}
        </mat-option>
      </mat-autocomplete>
      <mat-slide-toggle
        [checked]="bienDepartement.disabled"
        (change)="
          bienDepartement.disabled
            ? bienDepartement.enable()
            : bienDepartement.disable()
        "
      >
        Disable Input?
      </mat-slide-toggle>
    </div>
  -->

    <button class="btn btn-primary" type="submit">
      Chercher
    </button>
  </form>

  {{ searchForm.status | json }}
  {{ searchForm.value | json }}
  {{ this.searchResult | json }}
  {{ this.searchResult.length | json }}

  <div *ngFor="let bien of this.searchResult">
    {{ bien.bienTitre
    }}<img
      *ngIf="bien.bienImages.length > 0"
      alt=""
      src="{{ bien.bienImages[0].imageLien }}"
    />
  </div>
</div>
