.container-fluid {
  background-color: rgb(206, 204, 205, 0.8);
  font-family: "Lato", sans-serif;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1%;
}

h1 {
  background-color: rgb(140, 20, 20, 0.7);
  color: #ffffff;
  text-align: center;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit {
  background-color: #8c1414;
  border-color: #8c1414;
  color: #ffffff;
  text-decoration: none;
  width: 20%;
  margin-top: 6%;
}

.deco {
  background-color: #8c1414;
  border-color: #8c1414;
  color: #ffffff;
  text-decoration: none;
  width: 40%;
  margin-top: 6%;
  font-size: x-large;
}

p {
  font-size: large;
}

input {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
