<div class="container-fluid">
  <form *ngIf="!userLogged" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>Connexion</h1>

    <div class="col-md-6 mb-3">
      <label>Email : </label>
      <input
        type="email"
        placeholder="email.exemple@gmail.com"
        formControlName="utilisateurMail"
        class="form-control"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label>Mot de passe : </label>
      <input
        type="password"
        formControlName="utilisateurMotDePasse"
        class="form-control"
      />
    </div>

    <div class="ButtonEnvoie">
      <button type="submit" class="btn btn-primary submit">
        Se connecter
      </button>
    </div>
  </form>

  <form *ngIf="userLogged" [formGroup]="loginForm" (ngSubmit)="logout()">
    <div class="ButtonLogout">
      <h1>Déconnexion</h1>
      <p>Vous voulez vous déconnecter ? C'est par ici :</p>
      <button type="submit" class="btn btn-primary deco">
        Se déconnecter
      </button>
    </div>
  </form>
</div>
