<div class="container-fluid">
  <h1>Modification de votre profil :</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="utilisateurForm">
    <div class="col-md-6 mb-3">
      <label> Nom :</label>
      <input
        type="text"
        formControlName="utilisateurNom"
        [value]="this.utilisateur.utilisateurNom"
        class="form-control"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label> Prénom :</label>
      <input
        type="text"
        formControlName="utilisateurPrenom"
        [value]="this.utilisateur.utilisateurPrenom"
        class="form-control"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label> Mail :</label>
      <input
        type="mail"
        formControlName="utilisateurMail"
        [value]="this.utilisateur.utilisateurMail"
        class="form-control"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label> Téléphone :</label>
      <input
        type="text"
        formControlName="utilisateurTel"
        [value]="this.utilisateur.utilisateurTel"
        class="form-control"
      />
    </div>

    <label id="example-radio-group-label">Sexe</label>
    <label *ngFor="let sex of sexes">
      <input
        type="radio"
        formControlName="utilisateurSexe"
        [value]="sex[1]"
        class="form-control"
        [checked]="sex[1] === this.utilisateur.utilisateurSexe"
      />
      {{ sex[0] }}
    </label>

    <div class="Adresse">
      <div class="col-md-6 mb-3">
        <label> Code postal :</label>
        <input
          type="text"
          formControlName="adresseCodePostal"
          [value]="this.adresse.adresseCodePostal"
          class="form-control"
        />
      </div>

      <div class="col-md-6 mb-3">
        <label> Rue :</label>
        <input
          type="text"
          formControlName="adresseNomRue"
          [value]="this.adresse.adresseNomRue"
          class="form-control"
        />
      </div>

      <div class="col-md-6 mb-3">
        <label> Numéro de rue :</label>
        <input
          type="number"
          formControlName="adresseNumRue"
          [value]="this.adresse.adresseNumRue"
          class="form-control"
        />
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label>Ville</label>
      <select formControlName="adresseVilleId" class="form-control">
        <option
          *ngFor="let ville of this.villes"
          [value]="ville.villeId"
          [selected]="ville.villeId === this.adresse.adresseVilleId"
        >
          {{ ville.villeNom }}
        </option>
      </select>
    </div>

    <div class="col-md-6 mb-3 ButtonEnvoie">
      <button type="submit" class="btn btn-primary miseajour submit">
        Mettre à jour les informations
      </button>
    </div>
  </form>

  <form (ngSubmit)="onSubmitMdp()" [formGroup]="mdpForm">
    <div class="col-md-6 mb-3">
      <label> Ancien mot de passe :</label>
      <input
        type="password"
        formControlName="utilisateurMotDePasseOld"
        class="form-control"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label> Nouveau mot de passe :</label>
      <input
        type="password"
        formControlName="utilisateurMotDePasse"
        class="form-control"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label> Confirmer le nouveau mot de passe :</label>
      <input
        type="password"
        formControlName="utilisateurMotDePasseVerif"
        class="form-control"
      />
    </div>

    <div class="col-md-6 mb-3 ButtonEnvoie">
      <button type="submit" class="btn btn-primary miseajour submit">
        Mettre à jour le mot de passe
      </button>
    </div>
  </form>
</div>

<div *ngFor="let bien of this.biens" class="container-fluid">
  <div id="bien.bienId">
    <h2>
      {{ bien.bienTitre }}
    </h2>
    <span>
      {{ bien.bienType }} de {{ bien.bienSuperficie }}m<sup>2</sup> à
      {{ bien.bienAdresse.adresseVille.villeNom }} </span
    ><br />
    <span>Prix de vente : {{ bien.bienPrixDeVente }}€ </span><br />
    <span>Nombre de pièces : {{ bien.bienNbPiece }}</span
    ><br />
    Description :
    <span> {{ bien.bienDescriptif }} </span>
    <div *ngIf="bien.bienImages != undefined">
      <img
        *ngIf="bien.bienImages.lenght > 0"
        alt=""
        src="{{ bien.bienImages[0].imageLien }}"
      />
    </div>
  </div>
</div>
