<div class="container-fluid">
  <h1>Modification de votre profil :</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="utilisateurForm">
    <div class="col-md-6 mb-3">
      <label> Nom :</label>
      <input
        type="text"
        formControlName="utilisateurNom"
        [value]="this.utilisateur.utilisateurNom"
        class="form-control"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label> Prénom :</label>
      <input
        type="text"
        formControlName="utilisateurPrenom"
        [value]="this.utilisateur.utilisateurPrenom"
        class="form-control"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label> Mail :</label>
      <input
        type="mail"
        formControlName="utilisateurMail"
        [value]="this.utilisateur.utilisateurMail"
        class="form-control"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label> Téléphone :</label>
      <input
        type="text"
        formControlName="utilisateurTel"
        [value]="this.utilisateur.utilisateurTel"
        class="form-control"
      />
    </div>

    <label id="example-radio-group-label">Sexe : </label>
    <br />
    <label *ngFor="let sex of sexes" class="sexe">
      <input
        type="radio"
        formControlName="utilisateurSexe"
        [value]="sex[1]"
        class="form-control radio"
        [checked]="sex[1] === this.utilisateur.utilisateurSexe"
      />
      {{ sex[0] }}
    </label>

    <div class="Adresse">
      <div class="col-md-6 mb-3">
        <label> Code postal :</label>
        <input
          type="text"
          formControlName="adresseCodePostal"
          [value]="this.adresse.adresseCodePostal"
          class="form-control"
        />
      </div>

      <div class="col-md-6 mb-3">
        <label> Rue :</label>
        <input
          type="text"
          formControlName="adresseNomRue"
          [value]="this.adresse.adresseNomRue"
          class="form-control"
        />
      </div>

      <div class="col-md-3 mb-3">
        <label> Numéro de rue :</label>
        <input
          type="number"
          formControlName="adresseNumRue"
          [value]="this.adresse.adresseNumRue"
          class="form-control"
        />
      </div>
    </div>

    <div class="col-md-9 mb-3">
      <label>Ville</label>
      <select formControlName="adresseVilleId" class="form-control">
        <option
          *ngFor="let ville of this.villes"
          [value]="ville.villeId"
          [selected]="ville.villeId === this.adresse.adresseVilleId"
        >
          {{ ville.villeNom }}
        </option>
      </select>
    </div>

    <div class="col-md-6 mb-3 ButtonEnvoie">
      <button
        type="submit"
        class="btn btn-primary miseajour submit"
        [disabled]="utilisateurForm.invalid"
      >
        Mettre à jour les informations
      </button>
    </div>
  </form>
  <br />
  <form (ngSubmit)="onSubmitMdp()" [formGroup]="mdpForm">
    <div class="col-md-4 mb-3">
      <label> Ancien mot de passe :</label>
      <input
        type="password"
        formControlName="utilisateurMotDePasseOld"
        class="form-control"
      />
    </div>

    <div class="col-md-4 mb-3">
      <label> Nouveau mot de passe :</label>
      <input
        type="password"
        formControlName="utilisateurMotDePasse"
        class="form-control"
      />
    </div>

    <div class="col-md-4 mb-3">
      <label> Confirmer le nouveau mot de passe :</label>
      <input
        type="password"
        formControlName="utilisateurMotDePasseVerif"
        class="form-control"
      />
    </div>

    <div class="col-md-6 mb-3 ButtonEnvoie">
      <button
        type="submit"
        class="btn btn-primary updateMdp submit"
        [disabled]="mdpForm.invalid"
      >
        Mettre à jour le mot de passe
      </button>
    </div>
  </form>
  <br />
  <div class="col-md-6 mb-3">
    <button
      class="btn btn-primary"
      id="showButton"
      onclick="showDeleteButton()"
    >
      Supprimer le compte
    </button>
  </div>
  <div class="col-md-6 mb-3">
    <button
      class="btn btn-primary"
      id="deleteButton"
      (click)="supprimerUtilisateur()"
    >
      Supprimer définitivement le compte
    </button>
  </div>
  <br />
</div>

<div *ngFor="let bien of this.biens" class="container-fluid">
  <div id="bien.bienId">
    <div class="container-fluid" *ngIf="bien != undefined">
      <h2>{{ bien.bienTitre }}</h2>

      <!-- Etages -->
      <p>
        Nombre d'étage <span *ngIf="bien.bienType == 'Maison'">de la </span
        ><span *ngIf="bien.bienType == 'Appartement'">de l'</span
        >{{ bien.bienType | lowercase }} : {{ bien.bienEtage }}
      </p>

      <!-- Etat -->
      <p>
        Etat <span *ngIf="bien.bienType == 'Maison'">de la </span
        ><span *ngIf="bien.bienType == 'Appartement'">de l'</span
        >{{ bien.bienType | lowercase }} : {{ bien.bienEtat }}
      </p>

      <!-- Description -->
      <p>Description : {{ bien.bienDescriptif }}</p>

      <!-- Pièces -->
      <p>
        Nombre de pièces <span *ngIf="bien.bienType == 'Maison'">de la </span
        ><span *ngIf="bien.bienType == 'Appartement'">de l'</span
        >{{ bien.bienType | lowercase }} : {{ bien.bienNbPiece }}
      </p>

      <!-- Superficie -->
      <p>
        Superficie <span *ngIf="bien.bienType == 'Maison'">de la </span
        ><span *ngIf="bien.bienType == 'Appartement'">de l'</span
        >{{ bien.bienType | lowercase }} : {{ bien.bienSuperficie }} m<sup
          >2</sup
        >
      </p>

      <!-- Prix -->
      <p>
        Prix <span *ngIf="bien.bienType == 'Maison'">de la </span
        ><span *ngIf="bien.bienType == 'Appartement'">de l'</span
        >{{ bien.bienType | lowercase }} : {{ bien.bienPrixDeVente }}€
      </p>

      <!-- Adresse -->
      <p>
        Situé<span *ngIf="bien.bienType == 'Maison'">e</span> au
        {{ bien.bienAdresse.adresseNumRue }}
        {{ bien.bienAdresse.adresseNomRue }},
        {{ bien.bienAdresse.adresseVille.villeCodePostal }},
        {{ bien.bienAdresse.adresseVille.villeNom }}
      </p>

      <!-- Images -->
      <div *ngIf="bien.bienImage != undefined">
        Image de <span *ngIf="bien.bienType == 'Maison'">de la </span
        ><span *ngIf="bien.bienType == 'Appartement'">de l'</span
        >{{ bien.bienType | lowercase }} :
        <div *ngFor="let image of bien.bienImage">
          <img src="../image/image.imageLien" alt="image.imageAlt" />
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <button class="btn btn-primary" (click)="supprimerBien(bien.bienId)">
        Supprimer le bien
      </button>
    </div>
    <h2>Propositions</h2>
    <div *ngFor="let proposition of bien.propositions" class="container-fluid">
      <div>
        Date de la proposition : {{ proposition.propositionDate }}
        <br />
        Prix acheteur : {{ proposition.propositionPrixAcheteur }}€
        <br />
        Message de l'acheteur : {{ proposition.propositionMessage }}
      </div>

      <h3>Répondre à la proposition</h3>

      <form
        [formGroup]="propositionForm"
        (ngSubmit)="
          putProposition(
            proposition.propositionClient,
            proposition.propositionBien,
            proposition.propositionPrixAcheteur
          )
        "
      >
        <div class="col-md-6 mb-3" id="proposition">
          <label> Proposer un prix :</label>
          <input
            type="number"
            formControlName="propositionPrixVendeur"
            class="form-control"
          />
        </div>

        <div class="col-md-10 mb-3" id="ajoutDescriptionBien">
          <label>Laisser un message à l'acheteur : </label>
          <textarea
            cols="50"
            rows="5"
            formControlName="propositionMessage"
            class="form-control"
          ></textarea>
          <button
            type="submit"
            class="btn btn-primary submit"
            [disabled]="propositionForm.invalid"
          >
            Renvoyer la proposition
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
