.container-fluid {
  background-color: #cecccc;
  font-family: "Lato", sans-serif;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-top: 4%;
  margin-left: 20%;
  margin-right: 25%;
  text-align: center;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1%;
  width: 60%;
}

.miseajour {
  background-color: #8c1414;
  border-color: #8c1414;
  color: #ffffff;
  text-decoration: none;
  margin-top: 2%;
  margin-bottom: 2%;
}

h1 {
  background-color: rgb(140, 20, 20, 0.7);
  color: #ffffff;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
  margin-bottom: 2%;
  margin-top: 2%;
}

.updateMdp {
  background-color: #8c1414;
  border-color: #8c1414;
  color: #ffffff;
  text-decoration: none;
  margin-top: 2%;
  margin-left: 85%;
}

.radio {
  box-shadow: none;
}

.sexe {
  margin: 5px;
}

#deleteButton {
  display: none;
}

/* Proposition */

#proposition {
  margin-top: 4%;
  margin-left: 25%;
  margin-right: 25%;
}

.col-md-10 {
  margin-top: 4%;
  margin-left: 8%;
  margin-right: 10%;
}

.submit {
  background-color: #8c1414;
  color: #ffffff;
  border: #8c1414 1px solid;
  margin-top: 4%;
}
