<div class="container-fluid" *ngIf="bien != undefined">
  <h2>{{ bien.bienTitre }}</h2>

  <!-- Prix -->
  <p>
    Prix <span *ngIf="bien.bienType == 'Maison'">de la </span
    ><span *ngIf="bien.bienType == 'Appartement'">de l'</span
    >{{ bien.bienType | lowercase }} :
  </p>
  <span class="prix item">{{ bien.bienPrixDeVente }}€</span><br />

  <!-- Etages -->
  <p>
    Nombre d'étage <span *ngIf="bien.bienType == 'Maison'">de la </span
    ><span *ngIf="bien.bienType == 'Appartement'">de l'</span
    >{{ bien.bienType | lowercase }} :
  </p>
  <span class="item">{{ bien.bienEtage }}</span
  ><br />

  <!-- Etat -->
  <p>
    Etat <span *ngIf="bien.bienType == 'Maison'">de la </span
    ><span *ngIf="bien.bienType == 'Appartement'">de l'</span
    >{{ bien.bienType | lowercase }} :
  </p>
  <span class="item">{{ bien.bienEtat }}</span
  ><br />

  <!-- Description -->
  <p>Description :</p>
  <span class="description item">{{ bien.bienDescriptif }}</span
  ><br />

  <!-- Pièces -->
  <p>
    Nombre de pièces <span *ngIf="bien.bienType == 'Maison'">de la </span
    ><span *ngIf="bien.bienType == 'Appartement'">de l'</span
    >{{ bien.bienType | lowercase }} :
  </p>
  <span class="item"
    >{{ bien.bienNbPiece }} pièce<span *ngIf="bien.bienNbPiece > 1"
      >s</span
    ></span
  ><br />

  <!-- Superficie -->
  <p>
    Superficie <span *ngIf="bien.bienType == 'Maison'">de la </span
    ><span *ngIf="bien.bienType == 'Appartement'">de l'</span
    >{{ bien.bienType | lowercase }} :
  </p>
  <span class="item">{{ bien.bienSuperficie }} m<sup>2</sup></span
  ><br />

  <!-- Adresse -->
  <p>
    Adresse :
  </p>
  <span class="item"
    >{{ bien.bienAdresse.adresseNumRue }} {{ bien.bienAdresse.adresseNomRue }},
    {{ bien.bienAdresse.adresseVille.villeCodePostal }},
    {{ bien.bienAdresse.adresseVille.villeNom }}</span
  ><br />

  <!-- Images -->
  <div *ngIf="bien.bienImage != undefined">
    Image de <span *ngIf="bien.bienType == 'Maison'">de la </span
    ><span *ngIf="bien.bienType == 'Appartement'">de l'</span
    >{{ bien.bienType | lowercase }} :
    <div *ngFor="let image of bien.bienImage">
      <img src="../image/image.imageLien" alt="image.imageAlt" />
    </div>
  </div>
</div>

<div *ngIf="userLogged" class="container-fluid">
  <h1>Faire une proposition d'achat</h1>

  <form [formGroup]="propositionForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6 mb-3" id="proposition">
      <label> Proposer un prix :</label>
      <input
        type="text"
        formControlName="propositionPrixAcheteur"
        class="form-control"
      />
    </div>

    <div class="col-md-10 mb-3" id="ajoutDescriptionBien">
      <label>Laisser un message au vendeur du bien : </label>
      <textarea
        cols="50"
        rows="5"
        formControlName="propositionMessage"
        class="form-control"
      ></textarea>
      <button type="submit" class="btn btn-primary submit">
        Envoyer la proposition
      </button>
    </div>
  </form>
</div>
